:root {
  --color-primary:#eb2f64;
  --color-primary-light:#FF3366;
  --color-primary-dark:#BA265D;
  --color-grey-light-1:#faf9f9;
  --color-grey-light-2:#f4f2f2;
  --color-grey-light-3:#f0eeee;
  --color-grey-light-4:#ccc;
  --color-grey-dark-1:#333;
  --color-grey-dark-2:#777;
  --color-grey-dark-2:#999; }

* {
  margin: 0;
  padding: 0; }

*, *::before, *::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-image: linear-gradient(to right bottom, var(--color-primary), var(--color-primary-dark));
  background-size: cover;
  min-height: 100vh;
  font-family: 'Sacramento',sans-serif;
  font-weight: 400; }

.container {
  background-color: var(--color-grey-light-2);
  margin: 8rem auto;
  max-width: 120rem;
  min-height: 60rem; }

.logo {
  height: 5rem;
  width: 5rem;
  margin-left: 2rem; }

.header {
  background-color: #fff;
  height: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.head-part {
  font-size: 6rem;
  margin-right: -13rem; }

.head-part-name:hover {
  margin-bottom: 1rem;
  border-bottom: 3px solid #32dbc6;
  animation: revanth .5s;
  transition: all .5s; }

@keyframes revanth {
  0% {
    border-bottom: 2px solid #32dbc6; }
  50% {
    border-bottom: 3px solid #f7b633; }
  100% {
    border-bottom: 3px solid #32dbc6; } }

.social {
  display: flex;
  justify-content: space-between; }
  .social-icon {
    padding: 0 2rem;
    transition: all .2s;
    transform: scale(1); }
    .social-icon:hover {
      transform: scale(1.5); }
  .social-icon-link {
    height: 6rem;
    width: 6rem;
    padding-right: 2rem; }

.navigation {
  display: flex; }

.left-bar {
  background-color: black;
  flex: 0 0 18%;
  height: 70rem;
  font-family: 'Montserrat',sans-serif; }
  .left-bar-item {
    position: relative; }
    .left-bar-item:not(:first-child) {
      margin-top: 2rem; }
  .left-bar-item-main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-primary);
    height: 100%;
    width: 3px;
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
    transform: scaleY(0); }
  .left-bar-item-main:hover::before {
    transform: scaleY(1);
    width: 100%; }
  .left-bar-item-main {
    display: flex;
    padding: 2rem 2rem;
    text-decoration: none; }
  .left-bar-item-icon {
    height: 2rem;
    width: 2rem;
    fill: #8bffff;
    margin-right: 1.7rem;
    position: relative;
    z-index: 10; }
  .left-bar-item-name {
    text-decoration: none;
    border-bottom: none;
    font-size: 1.7rem;
    text-transform: uppercase;
    display: block;
    color: #fff;
    position: relative;
    z-index: 10; }

.right-bar {
  display: flex;
  justify-content: space-between;
  margin: 15rem auto;
  position: relative; }

.about::before {
  content: "";
  background-color: var(--color-grey-light-3);
  position: absolute;
  top: -10rem;
  left: -15rem;
  height: 50rem;
  width: 50rem;
  border-radius: 300px; }

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .about .about-pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4.8rem; }
  .about .about-myself {
    position: relative;
    z-index: 19;
    margin-top: 4rem;
    font-size: 32px; }
  .about .about-pic-my {
    height: 18rem;
    width: 18rem;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.4);
    border-radius: 100px;
    position: relative;
    z-index: 10;
    transform: scale(1);
    transition: transform .3s; }
    .about .about-pic-my:hover {
      transform: scale(1.5);
      box-shadow: 0 3rem 2rem rgba(0, 0, 0, 0.5); }

.friends {
  width: 90rem;
  position: relative; }

.friends-profile-block-2::before {
  content: "";
  background-color: #fff;
  position: absolute;
  top: -2rem;
  right: 7rem;
  height: 13rem;
  width: 13rem;
  border-radius: 100px; }

.friends-profile-block-1::before {
  content: "";
  background-color: #fff;
  position: absolute;
  top: -2rem;
  left: -1rem;
  height: 13rem;
  width: 13rem;
  border-radius: 100px; }

#saddam {
  position: relative;
  left: 4.3rem; }

#saddam-name {
  position: relative;
  left: 5rem;
  top: 0rem; }

.friends-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0; }
  .friends-profile-block-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 5rem;
    position: relative; }
  .friends-profile-block-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
  .friends-profile-photo {
    height: 10rem;
    width: 10rem;
    border: none;
    border-radius: 100px;
    position: relative;
    z-index: 10;
    left: 0.5rem;
    top: -0.5rem;
    transition: scale(1);
    transition: all .3s; }
    .friends-profile-photo:hover {
      transform: scale(1.5); }
  .friends-profile-name {
    font-size: 2.3rem;
    font-family: 'Montserrat',sans-serif;
    z-index: 10;
    margin-left: 3rem;
    transition: all .4s; }
    .friends-profile-name:hover {
      color: #fff;
      cursor: pointer;
      box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.3);
      border: none;
      background-color: #5893d4;
      border-radius: 100px;
      padding: 1rem 0.2rem;
      transform: rotate(360deg); }

.next {
  position: absolute;
  top: 80rem;
  left: 80rem;
  margin: 0 auto;
  display: flex;
  justify-content: center; }
  .next-button {
    font-size: 2.3rem;
    font-family: Arial;
    text-decoration: none;
    color: MediumSeaGreen;
    padding: 1rem 1rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid MediumSeaGreen; }
    .next-button:hover {
      background-color: MediumSeaGreen;
      padding: 1rem 2rem;
      position: relative;
      z-index: 10;
      color: #fff;
      border-radius: 100px;
      animation: movein .5s;
      transition: transform .5s,infinite; }

@keyframes movein {
  0% {
    transform: translateX(20px); }
  50% {
    transform: translateX(-40px); }
  100% {
    transform: translateY(0); } }

.naveen {
  position: relative;
  top: -0.5rem;
  left: 3rem; }

.naveen-name {
  position: relative;
  top: 0rem;
  left: 5rem; }

#nikhil {
  position: relative;
  top: -0.5rem;
  left: 1rem; }

#nikhil-name {
  position: relative;
  top: 0rem;
  left: 5rem; }

#koushik {
  position: relative;
  top: -0.5rem;
  left: 4rem; }

#koushik-name {
  position: relative;
  top: 0rem;
  left: 5rem; }

.revanth {
  background-color: black;
  flex: 0 0 18%;
  height: 140rem;
  font-family: 'Montserrat',sans-serif; }
  .revanth-item {
    position: relative; }
    .revanth-item:not(:first-child) {
      margin-top: 2rem; }
  .revanth-item-main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-primary);
    height: 100%;
    width: 3px;
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
    transform: scaleY(0); }
  .revanth-item-main:hover::before {
    transform: scaleY(1);
    width: 100%; }
  .revanth-item-main {
    display: flex;
    padding: 2rem 2rem;
    text-decoration: none; }
  .revanth-item-icon {
    height: 2rem;
    width: 2rem;
    fill: #8bffff;
    margin-right: 1.7rem;
    position: relative;
    z-index: 10; }
  .revanth-item-name {
    text-decoration: none;
    border-bottom: none;
    font-size: 1.7rem;
    text-transform: uppercase;
    display: block;
    color: #fff;
    position: relative;
    z-index: 10; }

.education {
  position: relative; }

.education-profile-about::before {
  content: "";
  background-color: var(--color-grey-dark-1);
  position: absolute;
  top: 2.3rem;
  height: 30rem;
  width: 30rem;
  border-radius: 20rem;
  box-shadow: 3rem 0rem 3rem rgba(0, 0, 0, 0.5); }

.education-profile {
  width: 99rem;
  position: relative; }
  .education-profile-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .education-profile-photo {
    height: 15rem;
    width: 15rem;
    display: block;
    margin-top: 10rem;
    border-radius: 300px;
    position: relative;
    z-index: 10;
    transition: all .5s;
    transform: scale(1);
    animation: movedown .4s; }
    .education-profile-photo:hover {
      transform: scale(1.4); }

.education-name {
  margin-top: 3rem;
  font-family: Arial;
  font-size: 14px;
  margin-bottom: 2rem;
  position: relative;
  z-index: 10;
  color: #fff;
  transition: all .3s; }
  .education-name:hover {
    transform: scale(1.4);
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3);
    background: MediumSeaGreen; }

@keyframes movedown {
  0% {
    transform: rotate(270deg); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(0deg); } }

.goal {
  flex: 0 0 98.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative; }

.goal-block {
  position: relative; }
  .goal-block-img {
    height: 16rem;
    width: 16rem;
    border-radius: 100px;
    position: relative;
    z-index: 10;
    transform: scale(1);
    transition: all .4s; }
    .goal-block-img:hover {
      transform: scale(1.5); }

.goal-block::before {
  content: "";
  position: absolute;
  top: -1rem;
  left: -1rem;
  background-color: #fff;
  height: 18rem;
  width: 18rem;
  border-radius: 100px; }
